{% extends 'layout.html' %}
{% block title %}Descarga{% endblock %}
{% block body %}

<div class="container py-4">
    <div class="row mb-4 g-4 align-items-end">
        <div class="col-md-3">
            <label for="startDate" class="form-label" style="margin-left: 5px;">Fecha y hora inicio</label>
            <input type="datetime-local" id="startDate" class="form-control shadow-sm" value="{{ initial_start | default('') }}">
        </div>
        <div class="col-md-3">
            <label for="endDate" class="form-label" style="margin-left: 5px;">Fecha y hora fin</label>
            <input type="datetime-local" id="endDate" class="form-control shadow-sm" value="{{ initial_end | default('') }}">
        </div>
        <div class="col-md-3">
            <label for="maquinaSelect" class="form-label" style="margin-left: 5px;">Máquinas</label>
            <select id="maquinaSelect" class="form-select shadow-sm">
                <option value="todas">Todas</option>
                {% for maquina in maquinas %}
                    <option value="{{ maquina }}">{{ maquina }}</option>
                {% endfor %}
            </select>
        </div>
    <div class="col-md-3">
            <button id="customRangeBtn" class="btn btn-outline-primary w-100"></i> Seleccionar</button>
        </div>
    </div>
    <div id="rangoMsg" class="alert alert-info d-none" role="alert">
        <i class="bi bi-info-circle"></i> Selección actual
    </div>

    <div class="d-flex justify-content mb-3">
        <a id="btn-descargar-xls" class="btn btn-success shadow" href="#">
            <i class="bi bi-file-earmark-excel"></i> Descargar Excel
        </a>
    </div>
</div>


 <script src="{{url_for('static', filename='js/descarga.js')}}"></script>

{% endblock %}